<div class="access">

<div class="about">
  <h3 class="f1">FUREAS <br> Forum of united resoursces for engineers and scholars.Which is invented to innovate, collabarate and to share ideas.This community basicalyy the gang that can help people to solve the problems in any kind of platforms. </h3></div>

<div>
  <h1 class="f2">To become a member of this group please create your details</h1>

  <h3 class="access-word"> Click the below butoon to create your deatils</h3>

 <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">Create Details</button>
 </div>

         <h1 class ="family"> Fureas Family </h1>
         <div class="family-members">

<div class="row">
  <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Tharanath Hanchinal</h4>
         </div>
         <img src="/assets/tharanath.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Manjula D.B</h4>
         </div>
         <img src="/assets/manjula.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Asharani</h4>
         </div>
         <img src="/assets/asharani.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Reshma V.P</h4>
         </div>
         <img src="/assets/reshma.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">kumar K.R</h4>
         </div>
         <img src="/assets/kumar.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Mahesh D.S</h4>
         </div>
         <img src="/assets/mahesh.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Sunil S.H</h4>
         </div>
         <img src="/assets/sunil.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Dinesh Shetty</h4>
         </div>
         <img src="/assets/dinesh.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Sharth Kumar</h4>
         </div>
         <img src="/assets/sharath.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-2">
    <div class="communities-card1">
      <div class="header">
        <h4 class="title">Vanditha</h4>
         </div>
         <img src="/assets/vanditha.jpg" class="image-style img-circle" />
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
  <% @users.each do |u| %>
      <div class="col-sm-2">
         <a href="/users/<%= u.id %>" class="communities-card1">
          <div class="header">
          <h4 class="title"><%= u.name %></h4>
        </div>
        <% if u.image? %>
          <%= image_tag u.image, :class =>"image-style img-circle" %>
          <% else %>
          <img src="/assets/overlay.png" class="image-style img-circle" />
          <% end %>
          <span class="image-name text-muted"><%= u.state %></span>
         </a>
       </div>
       <% end %>
     </div>
</div>
</div>








