<div class="profile">
<table class="table table-bordered">
 <tr>
  <td><%= image_tag @user.image, :class =>"image-style" %>
</td>
<td>
<h4 class="image-name"><%= @user.name %></h4>
</td>
</tr>
</table>
</div>