<div class="modal-dialog sign-up-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close modal-close-btn" data-dismiss="modal">
                            <span aria-hidden="true" class="icons-close-with-circle"></span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title"><span class="icons-modal-logo"> </span></h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="getstarted"> Get Started</div>
                        <div class="row">
                            <div class="col-sm-12"> <img src="/assets/anjan.jpg" class="mine-image img-circle"> </div>
                            <div class="row"><div class="col-sm-12"><h3>Hi Friends,Lets develop our Fureas site,Please share if you any idea or anything new to develop this.</h3>  </div></div>
                            <div class="col-sm-3"> </div>
                        </div>


                        <div class="signingup">By signing up, you agree to our <a href="">Terms of Service </a> </div>
                    </div>
                </div>
            </div>