 <div id="carousel_example_generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel_example_generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel_example_generic" data-slide-to="1"></li>
    <li data-target="#carousel_example_generic" data-slide-to="2"></li>
    <li data-target="#carousel_example_generic" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/slider1.jpg" alt="slider image">
      <div class="carousel-caption">
        GangOut! Joy Jump Together!
      </div>
      <div class="carousel-second-caption"> <span class="carousel-sub-caption">  Do learn something, do share something  and have fun!</span></div>
    </div>
    <div class="item">
      <img src="/assets/slider2.jpg" alt="slider image">
      <div class="carousel-caption">
        TrackMeet! Start to Finish
      </div>
      <div class="carousel-second-caption"> <span class="carousel-sub-caption"> Absolutely any event you plan, complete solution at one place.</span></div>
    </div>
    <div class="item">
      <img src="/assets/slider3.jpg" alt="slider image">
      <div class="carousel-caption">
        Sarcastic plan to GangOut!
      </div>
      <div class="carousel-second-caption"> <span class="carousel-sub-caption"> Seriously!  You can invite your friends in few clicks!</span></div>
    </div>
    <div class="item">
      <img src="/assets/slider4.jpg" alt="slider image">
      <div class="carousel-caption">
        asap way for Segway
      </div>
      <div class="carousel-second-caption"> <span class="carousel-sub-caption"> Very quickly your friends will be notified for sunset ride!</span></div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel_example_generic" role="button" data-slide="prev">
    <!--                <span class="glyphicon glyphicon-chevron-left"></span>-->
  </a>
  <a class="right carousel-control" href="#carousel_example_generic" role="button" data-slide="next">
    <!--       <span class="glyphicon glyphicon-chevron-right"></span>-->
  </a>
</div>
<div class="getstarted-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-padding">
        Over 500 users trust us. Get your GangOut together for FREE!
      </div>
      <div class="col-lg-3">
        <button class="btn btn-primary get-started-btn" type="button" data-toggle="modal" data-target="#myModal1">Get Started</button>
      </div>
    </div>
  </div>
</div>
<div class="home-section grey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <div class="communities-head">
          <h1> Memories</h1>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="communiti-search-icon">
          <div class="icon">
            <a class="icons-search" id="magnifying_glass" href="#Communities_search"> </a>
          </div>
          <div class="input-field">
            <input class="search-box-communities search-box-form" type="text" placeholder=" Search .." name="search-string">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="communities-card">
          <div class="header">
            <a class="title" href="#">Memory is the mother of all wisdom
 </a>
            <div class="members-circle">
              <div class="number">XX</div>
              <div class="member">Members</div>
            </div>
          </div>
          <div class="communities-image">
            <a class="join" href="#">
              Join
            </a>
            <img src="/assets/memory1.jpg" alt="event image" class="img-responsive">
          </div>
          <div class="comunut-block">
            <div class="first-block">
              <div class="past-event"> PAST MEMORY</div>
              <div class="core-ruby"><a href="#" class="text">A feel that never ends </a> </div>
              <div class="location"><span class="icons-location-pointer-small"></span>
                <span class="location-name">PCET </span>
              </div>
            </div>
            <div class="second-block">
              <div> <span class="icons-calendar"> </span></div>
              <div class="date">8 </div>
              <div class="month">May </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="communities-card">
          <div class="header">
            <a class="title" href="#"> We do not remember days; we remember moments  </a>
            <div class="members-circle">
              <div class="number">xx</div>
              <div class="member">Members</div>
            </div>
          </div>
          <div class="communities-image">
            <a class="join" href="#">
              Join
            </a>
            <img src="/assets/memory2.jpg" alt="event image" class="img-responsive">
          </div>
          <div class="comunut-block">
            <div class="first-block">
              <div class="past-event"> PAST MEMORY</div>
              <div class="core-ruby"><a href="#" class="text">A feel that never ends </a> </div>
              <div class="location"><span class="icons-location-pointer-small"></span>  <span class="location-name">PCET </span>  </div>
            </div>
            <div class="second-block">
              <div> <span class="icons-calendar"> </span></div>
              <div class="date">8 </div>
              <div class="month">May </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="communities-card">
          <div class="header">
            <a class="title" href="#">Memory is what tells a man that his wife's birthday was yesterday </a>
            <div class="members-circle">
              <div class="number">xx</div>
              <div class="member">Members</div>
            </div>
          </div>
          <div class="communities-image">
            <a class="join" href="#">
              Join
            </a>
            <img src="/assets/memory3.jpg" alt="event image" class="img-responsive">
          </div>
          <div class="comunut-block">
            <div class="first-block">
              <div class="past-event"> PAST MEMORY</div>
              <div class="core-ruby"><a href="#" class="text">A feel that never ends</a> </div>
              <div class="location"><span class="icons-location-pointer-small"></span>  <span class="location-name">PCET </span>  </div>
            </div>
            <div class="second-block">
              <div> <span class="icons-calendar"> </span></div>
              <div class="date">8 </div>
              <div class="month">May </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="communities-card">
          <div class="header">
            <a class="title" href="#"> Things that were hard to bear are sweet to remember</a>
            <div class="members-circle">
              <div class="number">xx</div>
              <div class="member">Members</div>
            </div>
          </div>
          <div class="communities-image">
            <a class="join" href="#">
              Join
            </a>
            <img src="/assets/memory4.jpg" alt="event image" class="img-responsive">
          </div>
          <div class="comunut-block">
            <div class="first-block">
              <div class="past-event"> PAST MEMORY</div>
              <div class="core-ruby"><a href="#" class="text">A feel that never ends </a> </div>
              <div class="location"><span class="icons-location-pointer-small"></span>  <span class="location-name">PCET </span>  </div>
            </div>
            <div class="second-block">
              <div> <span class="icons-calendar"> </span></div>
              <div class="date">8 </div>
              <div class="month">May </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="communities-card">
          <div class="header">
            <a class="title" href="#"> A memory is what is left when something happens and does not completely unhappen  </a>
            <div class="members-circle">
              <div class="number">xx</div>
              <div class="member">Members</div>
            </div>
          </div>
          <div class="communities-image">
            <a class="join" href="#">
              Join
            </a>
            <img src="/assets/memory5.jpg" alt="event image" class="img-responsive">
          </div>
          <div class="comunut-block">
            <div class="first-block">
              <div class="past-event"> PAST MEMORY</div>
              <div class="core-ruby"><a href="#" class="text">A feel that never ends </a> </div>
              <div class="location"><span class="icons-location-pointer-small"></span>  <span class="location-name">PCET </span>  </div>
            </div>
            <div class="second-block">
              <div> <span class="icons-calendar"> </span></div>
              <div class="date">8 </div>
              <div class="month">May </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="communities-card">
          <div class="header">
            <a class="title" href="#"> I think you remember everything ... you just can't bring it to mind all the time </a>
            <div class="members-circle">
              <div class="number">xx</div>
              <div class="member">Members</div>
            </div>
          </div>
          <div class="communities-image">
            <a class="join" href="#">
              Join                                </a>
              <img src="/assets/memory6.jpg" alt="event image" class="img-responsive">
            </div>
            <div class="comunut-block">
              <div class="first-block">
                <div class="past-event"> PAST MEMORY</div>
                <div class="core-ruby"><a href="#" class="text">A feel that never ends </a> </div>
                <div class="location"><span class="icons-location-pointer-small"></span>  <span class="location-name">PCET </span>  </div>
              </div>
              <div class="second-block">
                <div> <span class="icons-calendar"> </span></div>
                <div class="date">8 </div>
                <div class="month">May </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more-text"><a href="#" class="more"> more <img src="assets/icon-plus.png" alt="plus with cirle"> </a></div>
    </div>
  </div>
  <div class="home-section white">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-8">
          <div class="communities-head">
            <h1> Events</h1>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="communiti-search-icon">
            <div class="icon">
              <a class="icons-search" id="magnifying_glass_second" href="#events_search"> </a>
            </div>
            <div class="input-field">
              <input class="search-box-events" type="text" placeholder=" Search .." name="search-string">
            </div>
          </div>
        </div>
      </div>
      <div class="row event-row">
        <div class="col-sm-6">
          <div class="row event-blocks">
            <div class="col-sm-3 going">
              <div class="number">xx</div>
              <div class="member">Members</div>
              <div class="date"> x Aug 'xx</div>
            </div>
            <div class="col-sm-9 event-details">
              <div class="event-text"> <a href="#" class="title"> Fureas inaugaral function  </a></div>
              <div><span class="icons-location-pointer-large"> </span> <span class="location">PCET Ujire </span></div>
              <div class="colarado"> fureas@gmail.com</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row event-blocks">
            <div class="col-sm-3 going">
              <div class="number">xx</div>
              <div class="member">Members</div>
              <div class="date"> xx Aug 'xx</div>
            </div>
            <div class="col-sm-9 event-details">
              <div class="event-text"> <a href="#" class="title"> Freshers party </a></div>
              <div><span class="icons-location-pointer-large"> </span> <span class="location">PCET Ujire </span></div>
              <div class="colarado"> fureas@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row event-row">
        <div class="col-sm-6">
          <div class="row event-blocks">
            <div class="col-sm-3 going">
              <div class="number">xx</div>
              <div class="member">Members</div>
              <div class="date"> xx Aug 'xx</div>
            </div>
            <div class="col-sm-9 event-details">
              <div class="event-text"> <a href="#" class="title"> Robotics workshop  </a></div>
              <div><span class="icons-location-pointer-large"> </span> <span class="location">PCET Ujire </span></div>
              <div class="colarado">fureas@gmail.com </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row event-blocks">
            <div class="col-sm-3 going">
              <div class="number">xx</div>
              <div class="member">Members</div>
              <div class="date"> xx Aug 'xx</div>
            </div>
            <div class="col-sm-9 event-details">
              <div class="event-text"> <a href="#" class="title"> Farewell Day  </a></div>
              <div><span class="icons-location-pointer-large"> </span> <span class="location">PCET Ujire </span></div>
              <div class="colarado"> fureas@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
      <div class="more-text"><a class="more" href="#"> more <img src="/assets/icon-plus.png" alt="plus with cirle"></a></div>
    </div>
  </div>
