.communities-card {
    border: 1px solid #d7d7d7;background-color: #ffffff;display: block;position: relative;margin-bottom: 20px;
}
.communities-card:hover {
    -moz-box-shadow:    3px 3px 3px 0 #9ea1a6; -webkit-box-shadow: 3px 3px 3px 0 #9ea1a6; box-shadow: 3px 3px 3px 0 #9ea1a6;
}
.communities-card .header {
    padding: 12px 10px 15px 10px; border-bottom: 1px solid #d7d7d7;  min-height: 100px;
}
.communities-card .header .title {
    font-size: 20px; font-family: "Signika"; color: rgb( 86, 93, 103 );font-weight: 600;line-height: 1.15;

}
.communities-image {
    position: relative;
}
.communities-image .join {
    position: absolute;background-color: #eb605f;color: #ffffff;padding: 2px 10px;
}
.members-circle {
    background-color: #565b5e;opacity: 0.8;border-radius: 50%;width: 76px;height: 76px;position: absolute;top: 60px;right: 15px;z-index: 1;
}
.members-circle .number {
    color: #ffffff;position: relative;top: 7px;font-size: 34px;font-family: "Signika";font-weight: 400;text-align: center;
}
.members-circle .member {
    color: #ffffff;position: relative;font-size: 13px;font-family: "Signika";font-weight: 300;text-align: center;
}

.comunut-block {
    /*    display: inline-block;*/overflow: hidden;
}
.comunut-block .first-block {
    width: 80%;float: left;padding: 12px;
}
.comunut-block .first-block .past-event {
    font-size: 12px;font-family: "Signika";color: rgb( 234, 96, 96 );font-weight: 700; text-transform: uppercase;line-height: 1.5;
}
.comunut-block .first-block .core-ruby {
    font-size: 15px; line-height: 1.125;
}
.comunut-block .first-block .core-ruby .text {
   font-family: "Signika"; color: rgb( 86, 93, 103 );
}
.comunut-block .first-block .location {
    font-size: 12px; font-family: "Signika"; color: rgb( 86, 93, 103 );line-height: 1.125;margin-top: 5px;
}
.comunut-block .first-block .location-name {
    line-height: 20px; vertical-align: middle; padding-top: 2px;text-transform: uppercase;
}
.comunut-block .second-block {
    width: 20%;float: left;text-align: center;padding: 12px;background-color: #f0f0f0;height: 100%;display: block;
}
.comunut-block .second-block .date {
    font-size: 28px;font-family: "Signika";color: rgb( 86, 93, 103 );text-transform: uppercase;line-height: 1;text-align: center;margin-top: 5px;
}
.comunut-block .second-block .month {
    font-size: 15px;font-family: "Signika"; color: rgb( 86, 93, 103 );text-transform: uppercase; line-height: 1;text-align: center;
}
.communities-card1 {
    border: 1px solid #d7d7d7;background-color: #ffffff;display: block;position: relative;margin-bottom: 20px;text-align: center;float: left;
}
.communities-card1:hover {
    -moz-box-shadow:    3px 3px 3px 0 #9ea1a6; -webkit-box-shadow: 3px 3px 3px 0 #9ea1a6; box-shadow: 3px 3px 3px 0 #9ea1a6;
}