<header id="top" class="navbar navbar-fixed-top bs-docs-nav">

            <div class="navbar-header">
                <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  href="#"><img src="/assets/fureas-logo-180.png" class="logo-padding logo-size" /></a>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
              <% if current_user %>
               <%= link_to 'Sign out', signout_path, :class =>"btn btn-primary navbar-btn navbar-right sign-in-btn visible-sm visible-md visible-lg" %>
                <% else %>
                <button type="button" class="btn btn-primary navbar-btn navbar-right sign-in-btn visible-sm visible-md visible-lg" data-toggle="modal" data-target="#myModal">Sign in</button>
                <% end %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" >Communities</a></li>
                    <li><a href="/comments">Posts</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="/users">About Us</a></li>
             <li><a href="http://uat.inotary.qwinixtech.com?referral=Fureas">Inotary</a></li>
                </ul>
                <button type="button" class="btn btn-primary navbar-btn navbar-right sign-in-btn hidden-sm hidden-md hidden-lg" data-toggle="modal" data-target="#myModal">Sign in</button>
            </nav>
        </header>